<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Propose Trip</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div id="navbar">
    <a id="homeLink" href="/">Home</a>
</div>

<!-- greeting.html -->
{% if 'user_name' in session %}
    <div>
        <h2>Hello, <a href="{{ url_for('login') }}">{{ session['user_name'] }}</a>!</h2>
    </div>
{% else %}
    <div>
        <h2><a href="{{ url_for('login') }}">Login to propose trips</a></h2>
    </div>
{% endif %}


<div>
    <h1>Propose a Trip</h1>
    <form id="tripProposalForm">
        <label for="location">Location:</label>
        <input type="text" id="location" name="location" placeholder="Enter city name" required>
        <label for="date">Date:</label>
        <input type="text" id="date" name="date" placeholder="YYYY-MM-DD" required>
        <button type="button" onclick="postTripProposal()">Propose Trip</button>
    </form>
    <p id="trip-message" style="color: #333;"></p>
    <p id="proposal-error-message" style="color: red;"></p>
</div>

<script>
    function postTripProposal() {
        var location = document.getElementById('location').value;
        var date = document.getElementById('date').value;

        // Using AJAX to send the data to the Flask app for trip proposal
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '{{ url_for("post_trip_proposal") }}', true);
        xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');

        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    // Trip proposal successful, display message
                    document.getElementById('trip-message').textContent = JSON.parse(xhr.responseText).message || 'Trip proposal successful.';
                    window.location.href = '{{ url_for("get_all_trips") }}';
                } else {
                    // Handle proposal errors
                    document.getElementById('proposal-error-message').textContent = JSON.parse(xhr.responseText).error || 'An error occurred during trip proposal.';
                }
            }
        };

        xhr.send(JSON.stringify({ location: location, date: date }));
    }
</script>

</body>
</html>
